BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> ba82ab28b52f

CREATE TABLE email_verification_entries (
    id SERIAL NOT NULL, 
    email VARCHAR NOT NULL, 
    verification_token VARCHAR NOT NULL, 
    verification_code VARCHAR NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    expires_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_email_verification_entries_email ON email_verification_entries (email);

CREATE INDEX ix_email_verification_entries_id ON email_verification_entries (id);

CREATE TABLE users (
    id VARCHAR NOT NULL, 
    name VARCHAR NOT NULL, 
    image VARCHAR, 
    email VARCHAR NOT NULL, 
    password VARCHAR, 
    google_user_id VARCHAR, 
    google_token VARCHAR, 
    user_type VARCHAR NOT NULL, 
    is_email_verified BOOLEAN NOT NULL, 
    is_blocked BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_id ON users (id);

CREATE TABLE login_sessions (
    id SERIAL NOT NULL, 
    user_id VARCHAR NOT NULL, 
    notification_token VARCHAR, 
    expires_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    refresh_expires_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    is_logged_out BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_login_sessions_id ON login_sessions (id);

CREATE TABLE threads (
    id VARCHAR NOT NULL, 
    title VARCHAR NOT NULL, 
    user_id VARCHAR NOT NULL, 
    status VARCHAR NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_threads_id ON threads (id);

CREATE TABLE thread_tasks (
    id SERIAL NOT NULL, 
    thread_id VARCHAR NOT NULL, 
    status VARCHAR NOT NULL, 
    task_text TEXT, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(thread_id) REFERENCES threads (id)
);

CREATE INDEX ix_thread_tasks_id ON thread_tasks (id);

CREATE TABLE thread_messages (
    id SERIAL NOT NULL, 
    thread_id VARCHAR NOT NULL, 
    thread_task_id INTEGER, 
    thread_chat_type VARCHAR NOT NULL, 
    thread_chat_from VARCHAR NOT NULL, 
    text TEXT, 
    chain_of_thought TEXT, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(thread_id) REFERENCES threads (id), 
    FOREIGN KEY(thread_task_id) REFERENCES thread_tasks (id)
);

CREATE INDEX ix_thread_messages_id ON thread_messages (id);

INSERT INTO alembic_version (version_num) VALUES ('ba82ab28b52f') RETURNING alembic_version.version_num;

-- Running upgrade ba82ab28b52f -> be7b73b5fe11

CREATE TABLE thread_task_memory_entries (
    id SERIAL NOT NULL, 
    thread_task_id INTEGER, 
    text TEXT NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(thread_task_id) REFERENCES thread_tasks (id)
);

CREATE INDEX ix_thread_task_memory_entries_id ON thread_task_memory_entries (id);

CREATE TABLE thread_task_plans (
    id SERIAL NOT NULL, 
    thread_task_id INTEGER, 
    status VARCHAR NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(thread_task_id) REFERENCES thread_tasks (id)
);

CREATE INDEX ix_thread_task_plans_id ON thread_task_plans (id);

CREATE TABLE plan_subtasks (
    id SERIAL NOT NULL, 
    thread_task_plan_id INTEGER, 
    subtask_text TEXT NOT NULL, 
    subtask_type VARCHAR NOT NULL, 
    ordering INTEGER NOT NULL, 
    status VARCHAR NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(thread_task_plan_id) REFERENCES thread_task_plans (id)
);

CREATE INDEX ix_plan_subtasks_id ON plan_subtasks (id);

ALTER TABLE login_sessions ADD COLUMN login_session_type VARCHAR;

ALTER TABLE thread_messages ADD COLUMN plan_subtask_id INTEGER;

ALTER TABLE thread_messages ADD FOREIGN KEY(plan_subtask_id) REFERENCES plan_subtasks (id);

UPDATE alembic_version SET version_num='be7b73b5fe11' WHERE alembic_version.version_num = 'ba82ab28b52f';

-- Running upgrade be7b73b5fe11 -> 78727ff782aa

ALTER TABLE thread_tasks ADD COLUMN needs_memory_from_previous_tasks BOOLEAN DEFAULT 'False' NOT NULL;

UPDATE alembic_version SET version_num='78727ff782aa' WHERE alembic_version.version_num = 'be7b73b5fe11';

-- Running upgrade 78727ff782aa -> 196abf4b8eb7

ALTER TABLE thread_tasks ADD COLUMN background_mode BOOLEAN DEFAULT 'false' NOT NULL;

UPDATE alembic_version SET version_num='196abf4b8eb7' WHERE alembic_version.version_num = '78727ff782aa';

-- Running upgrade 196abf4b8eb7 -> 02a267591fce

ALTER TABLE thread_tasks ADD COLUMN extended_thinking_mode BOOLEAN DEFAULT 'false' NOT NULL;

UPDATE alembic_version SET version_num='02a267591fce' WHERE alembic_version.version_num = '196abf4b8eb7';

-- Running upgrade 02a267591fce -> 78934dd595c7

ALTER TABLE thread_messages ADD COLUMN screenshot VARCHAR;

UPDATE alembic_version SET version_num='78934dd595c7' WHERE alembic_version.version_num = '02a267591fce';

-- Running upgrade 78934dd595c7 -> 4310c5e1c520

ALTER TABLE thread_messages ADD COLUMN prompt TEXT;

UPDATE alembic_version SET version_num='4310c5e1c520' WHERE alembic_version.version_num = '78934dd595c7';

-- Running upgrade 4310c5e1c520 -> d91f4c8e2b0a

CREATE TABLE automations (
    id VARCHAR NOT NULL, 
    user_id VARCHAR NOT NULL, 
    name VARCHAR NOT NULL, 
    login_url VARCHAR NOT NULL, 
    username VARCHAR, 
    password VARCHAR, 
    description VARCHAR, 
    logo VARCHAR, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_automations_id ON automations (id);

UPDATE alembic_version SET version_num='d91f4c8e2b0a' WHERE alembic_version.version_num = '4310c5e1c520';

-- Running upgrade d91f4c8e2b0a -> f2e8b9c1a4d3

ALTER TABLE users ADD COLUMN referral_code VARCHAR;

ALTER TABLE users ADD COLUMN referred_by_user_id VARCHAR;

ALTER TABLE users ADD COLUMN referral_reward_until TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE users ADD CONSTRAINT fk_users_referred_by_user_id FOREIGN KEY(referred_by_user_id) REFERENCES users (id);

CREATE UNIQUE INDEX ix_users_referral_code ON users (referral_code);

SELECT id FROM users;

